In [1]:
%matplotlib inline
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
# read in the data sets from the approach/avoid task
aa_adults = pd.read_csv("Study3_AAData_Adults.csv", index_col = 0)
aa_kids = pd.read_csv("Study3_AAData_Kids.csv", index_col = 0)

In [3]:
aa_adults.head()

,PartID,Attn1,Attn2,Attn3,Age,Gender,VidsWatched,Stars,BadBlocks,NumStickers,...,TimeSee.BP,TimeSee.BS,TimeSee.WP,TimeSee.WS,BPSeen,BSSeen,WPSeen,WSSeen,Valence,AgeGroup
1,1,1,3,1,28,1,2,9,WP,9,...,4,4,3,3,True,True,True,True,1,Adult
2,1,1,3,1,28,1,2,9,WP,9,...,4,4,3,3,True,True,True,True,0,Adult
3,1,1,3,1,28,1,2,9,WP,9,...,4,4,3,3,True,True,True,True,1,Adult
4,1,1,3,1,28,1,2,9,WP,9,...,4,4,3,3,True,True,True,True,1,Adult
5,1,1,3,1,28,1,2,9,WP,9,...,4,4,3,3,True,True,True,True,1,Adult

In [4]:
aa_kids.head()

,PartID,Age,Gender,Block,HappySide,BadBlocks,Attn1,Attn2,Attn3,RCD,...,Pred,TrialSet,TimeSee.BP,TimeSee.BS,TimeSee.WP,TimeSee.WS,BPSeen,BSSeen,WPSeen,WSSeen
1,4-10,4.389041,M,WP,L,BS,1,1,1,1,...,1.0,1,4,4,4,4,True,True,True,True
2,4-10,4.389041,M,BP,L,BS,1,1,1,1,...,NaN,2,4,4,4,4,True,True,True,True
3,4-10,4.389041,M,WS,L,BS,1,1,1,1,...,NaN,4,4,4,4,4,True,True,True,True
4,4-10,4.389041,M,BP,L,BS,1,1,1,1,...,1.0,1,4,4,4,4,True,True,True,True
5,4-10,4.389041,M,WS,L,BS,1,1,1,1,...,NaN,2,4,4,4,4,True,True,True,True

In [5]:
# Subset by a preliminary set of interesting variables 
variables_of_interest = ["PartID", "Block", "BadBlocks", "AgeGroup", "Trial", "Valence", "AA", "TrialSet", "Win"]
aa_adults = aa_adults[variables_of_interest]
aa_kids = aa_kids[variables_of_interest]

In [7]:
aa_kids.head()

  PartID Block BadBlocks AgeGroup  Trial  Valence  AA  TrialSet  Win
1   4-10    WP        BS    Young      1        1   1         1  1.0
2   4-10    BP        BS    Young      5        1   1         2  1.0
3   4-10    WS        BS    Young     13        1   1         4  1.0
4   4-10    BP        BS    Young      3        1   1         1  1.0
5   4-10    WS        BS    Young      7        1   1         2  1.0

In [8]:
aa_adults.head()

   PartID Block BadBlocks AgeGroup  Trial  Valence   AA  TrialSet  Win
1       1    BS        WP    Adult      1        1  1.0         1  1.0
2       1    WP        WP    Adult      8        0  0.0         2  NaN
3       1    BS        WP    Adult      7        1  1.0         2  1.0
4       1    WS        WP    Adult      3        1  0.0         1  NaN
5       1    BS        WP    Adult     12        1  1.0         3  1.0

In [9]:
# Verify the Datatypes
aa_kids.dtypes
aa_adults.dtypes

PartID         int64
Block         object
BadBlocks     object
AgeGroup      object
Trial          int64
Valence        int64
AA           float64
TrialSet       int64
Win          float64
dtype: object

In [10]:
# Verification of Valence and Trial Orderings
set(aa_kids[aa_kids.Block == aa_kids.BadBlocks].Valence) # confirms that Valence indicates positive or negative
aa_kids[aa_kids.PartID == "4-10"].sort_values(by = ["TrialSet", "Trial"]) # trialSets are 1-4 and trials are 1-16

set(aa_adults[aa_adults.Block == aa_adults.BadBlocks].Valence) 
aa_adults[aa_adults.PartID == 1].sort_values(by = ["TrialSet", "Trial"])

    PartID Block BadBlocks AgeGroup  Trial  Valence   AA  TrialSet  Win
1        1    BS        WP    Adult      1        1  1.0         1  1.0
9        1    WP        WP    Adult      2        0  1.0         1  0.0
4        1    WS        WP    Adult      3        1  0.0         1  NaN
7        1    BP        WP    Adult      4        1  1.0         1  1.0
6        1    WS        WP    Adult      5        1  1.0         2  1.0
14       1    BP        WP    Adult      6        1  1.0         2  1.0
3        1    BS        WP    Adult      7        1  1.0         2  1.0
2        1    WP        WP    Adult      8        0  0.0         2  NaN
16       1    BP        WP    Adult      9        1  1.0         3  1.0
15       1    WS        WP    Adult     10        1  1.0         3  1.0
8        1    WP        WP    Adult     11        0  1.0         3  0.0
5        1    BS        WP    Adult     12        1  1.0         3  1.0
13       1    WP        WP    Adult     13        0  1.0         4  0.0
12       1    BP        WP    Adult     14        1  1.0         4  1.0
11       1    WS        WP    Adult     15        1  1.0         4  1.0
10       1    BS        WP    Adult     16        1  1.0         4  1.0

In [11]:
# Verify the elements present in the "Win" variable
set(aa_kids.Win) # contains nan
aa_kids.loc[aa_kids.Win == 0, "Win"] = -2
aa_kids.loc[aa_kids.Win == np.nan, "Win"] = 0
# Replace the reward section such that avoid = 0, approach = 1 if Zaff and -1 if non-Zaff
aa_kids.replace({"Win": {0.0: -1.0, np.nan: 0.0}}, inplace = True)

# Repeat for the adult dataset
set(aa_adults.Win)
aa_adults.loc[aa_adults.Win == 0, "Win"] = -2
aa_adults.loc[aa_adults.Win == np.nan, "Win"] = 0
aa_adults.replace({"Win": {0.0: -1.0, np.nan: 0.0}}, inplace = True)

In [12]:
# separate into kids_young, kids_old, adults 
aa_kids_young = aa_kids[aa_kids.AgeGroup == "Young"].copy()
len(set(aa_kids_young.PartID)) # there are 32 unique participants in the young group
aa_kids_old = aa_kids[aa_kids.AgeGroup == "Old"].copy()
len(set(aa_kids_old.PartID))   # there are ALSO 32 unique participants in the old group
len(set(aa_adults.PartID))     # there are 49 unique participants in the adult group

# drop the AgeGroup column since they are meaningless 
aa_kids_young.drop(columns = ["AgeGroup"], inplace = True)
aa_kids_old.drop(columns = ["AgeGroup"], inplace = True)
aa_adults.drop(columns = ["AgeGroup"], inplace = True)

In [13]:
# encode the kid participant IDs as numerics 
ptcp = 1
ptcp_to_num_young = {}
for participant in set(aa_kids_young.PartID): 
    ptcp_to_num_young[participant] = ptcp
    ptcp += 1
aa_kids_young.replace({"PartID": ptcp_to_num_young}, inplace = True)

ptcp = 1
ptcp_to_num_old = {}
for participant in set(aa_kids_old.PartID): 
    ptcp_to_num_old[participant] = ptcp
    ptcp += 1
aa_kids_old.replace({"PartID": ptcp_to_num_old}, inplace = True)

# sort each dataframe by participant ID and then Trial
aa_kids_young.sort_values(by = ["PartID", "Trial"])
aa_kids_old.sort_values(by = ["PartID", "Trial"])
aa_adults.sort_values(by = ["PartID", "Trial"])

# reset the index after re-ordering
aa_kids_young.reset_index(inplace = True, drop = True)
aa_kids_old.reset_index(inplace = True, drop = True)
aa_adults.reset_index(inplace = True, drop = True)

# verify the datatypes (check for potential NaN or None or NA)
print(aa_kids_young.dtypes, "\n")
print(aa_kids_old.dtypes, "\n")
print(aa_adults.dtypes)

PartID         int64
Block         object
BadBlocks     object
Trial          int64
Valence        int64
AA             int64
TrialSet       int64
Win          float64
dtype: object

PartID         int64
Block         object
BadBlocks     object
Trial          int64
Valence        int64
AA             int64
TrialSet       int64
Win          float64
dtype: object

PartID         int64
Block         object
BadBlocks     object
Trial          int64
Valence        int64
AA           float64
TrialSet       int64
Win          float64
dtype: object